html {
	font-family: sans-serif;
}

.masthead {
	background-color: #cbcbcb;
}

nav a {
	display: block;
	text-decoration: none;
	color: #0066ff;

}

a:hover {
	color: white;
	background-color: #0066ff;
}

.grey {
	background-color: grey;
}

footer li{
	display: inline;
}

footer a{
	display: inline;
}
